.about_line {
  position: relative;
  --size: 0%;
  --opacity: 0.2;
  clip-path: inset(0 var(--size) 0 0);
  opacity: var(--opacity);
  z-index: 2; /* Assurez-vous que la ligne est au-dessus de sa copie */
}

.about_text.is-below {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  opacity: 1;
}
