:root {
  --size: 100%;
}

.about_line {
  position: relative;
}
.black_mask {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.65;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.line {
  position: relative;
  --size: 100%;
  -webkit-clip-path: inset(0 var(--size) 0 0);
  clip-path: inset(0 var(--size) 0 0);
  padding-bottom: 0.2em;
  z-index: 2; /* Assurez-vous que la ligne est au-dessus de sa copie */
}

.is-scroll-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  pointer-events: none;
  z-index: 1; /* Assurez-vous que la copie est en dessous de la ligne d'origine */
}

.scroll-paragraph.is-scroll-bg .line {
  -webkit-clip-path: none;
  clip-path: none;
}
.holder-row .line {
  padding-bottom: 0em;
}
.testimonial_content .line {
  padding-left: 1em;
}
