.about_line {
  position: relative;
  --size: 100%;
  clip-path: inset(0 var(--size) 0 0);
  z-index: 2;
}

.about_text.is-above {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  color: #111;
}
