.about_line {
  position: relative;
  --size: 0%;
  clip-path: inset(0 0 0 var(--size));
  z-index: 2; /* Assurez-vous que la ligne est au-dessus de sa copie */
}

.about_text.is-below {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  color: #c5e1f6; /* Assurez-vous que la copie est en dessous de la ligne d'origine */
}
